<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Connect-Ed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046FD13C1EF08E38008DFEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046FD1521EF08E39008DFEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046FD15D1EF08E39008DFEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
